html {
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Cascadia Code NF", "Cascadia NF";
}

@font-face {
    font-family: "Cascadia";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}